<div class="p-grid  p-text-center">
  <div class="p-col-10">
    <div class="p-grid  p-m-0 p-jc-between">
      <div class="p-col-1 p-my-auto">
        T12341564
      </div>
      <div class="p-col-10">
        <div class="p-grid p-m-0 p-jc-center">
          <div class="p-col-10">
            <div class="p-grid p-m-0">
              <div class="p-col-2">
                s
              </div>
              <div class="p-col-8 p-text-center">
                <svg width="100%" height="1">
                  <line x1="0" y1="0" x2="100%" y2="0" stroke="black" />
                </svg>
              </div>
              <div class="p-col-2">
                e
              </div>
              <div class="p-col-2">
                New <br />
                  07/01/2020
              </div>
              <div class="p-col-8 p-text-center">
                truck | weight | distance
              </div>
              <div class="p-col-2">
                New <br />
                  07/01/2020
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-col-1 p-my-auto">
        offer rate
        <br />
        $999
      </div>
    </div>
  </div>
  <div class="p-col-2  p-my-auto">
    4
  </div>
</div>